header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  font-size: 20px;
  text-align: center;
}
.header-left {
  display: flex;
}
.header-left img {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  width: 75%;
}
